$brand-color: #D1F2EB;
$brand-font: 'Cabin Sketch', cursive;
$container-font: 'Cutive Mono', monospace;
$size-font: 50px;
$color-font: #000000;
$size1: 10px;
$size2: 15px;
$size3: 20px;
$size4: 40px; 
$size4b: 45px; 
$size5: 50px;
$size6: 100px;
$size7: 250px; 
$size8: 30px;
$size9: 80px; 
$fraccion: 1fr; 