.navbar {
    background-color: #D1F2EB;
    margin-bottom: 100px;
}

.nav-item {
    font-size: 15px;
    color: #000000;
}


.main-title {
    font-size: 50px;
    font-family: 'Cabin Sketch', cursive;
    margin: 10px;
    padding: 10px;
}

.container-grids {
    display: grid;
    grid-template-areas: "productos productos"
        "servicios cursos "
        "comunidad comunidad";
    margin: 50px;
}

.product-grid-area {
    grid-area: productos;
    background-image: url(images/backgrounddd.jpg);
    background-size: cover;
    height: 250px;
    margin: 10px;
    font-family: 'Cutive Mono', monospace;
    font-size: 50px;
    color: #000000;

}

.services-grid-area {
    grid-area: servicios;
    background-image: url(images/backcomunidad.jpg);
    background-size: cover;
    height: 250px;
    margin: 10px;
    font-family: 'Cutive Mono', monospace;
    font-size: 50px;
    color: #000000;
}

.curses-grid-area {
    grid-area: cursos;
    background-image: url(images/background\ ss.jpg);
    background-size: cover;
    width: auto;
    height: 250px;
    margin: 10px;
    font-family: 'Cutive Mono', monospace;
    font-size: 50px;
    color: #000000;
}

.community-grid-area {
    grid-area: comunidad;
    background-image: url(images/bc2.jpg);
    background-size: cover;
    background-position: unset;

    width: auto;
    height: 250px;
    margin: 10px;
    font-family: 'Cutive Mono', monospace;
    font-size: 50px;
    color: #000000;
}

.sub-title {
    display: flex;
    word-wrap: normal;
    justify-content: center;
    margin: 50px;
    padding: 20px;
    font-size: 45px;
    font-family: 'Cutive Mono', monospace;
}


.container-carousel {
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 100px;

}

.grid-container-footer {
    display: grid;
    grid-template-areas: 'productos servicios cursos comunidad nosotros'
        'seguinos seguinos seguinos seguinos seguinos';
    gap: 10px;
    background-color: #D1F2EB;
    padding: 80px;

}

.container-footer-pr {
    grid-area: productos;
    text-align: center;
    font-size: 20px;

}

.container-footer-ss {
    grid-area: servicios;
    text-align: center;
    font-size: 20px
}

.container-footer-cs {
    grid-area: cursos;
    text-align: center;
    font-size: 20px;
}

.container-footer-cm {
    grid-area: comunidad;
    text-align: center;
    font-size: 20px;
}

.container-footer-we {
    grid-area: nosotros;
    text-align: center;
    font-size: 20px;
}

.container-footer-sm {
    grid-area: seguinos;
    text-align: center;
    margin-top: 30px;
    font-size: 20px
}


.container-grid-product {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    padding: 50px;
    margin: 40px;
    margin-left: 90px;
}

.btn {
    color: white;
}

.card {
    padding: 15px;
    margin: 15px;
}

.container-grid-ss {
    padding: 50px;

}

.col-3 {
    font-size: 50px;
    padding-top: 50px;

}

.col-4 {
    font-size: 25px;
    padding: 15px;
}


.sub-title3 {
    font-family: 'Cutive Mono', monospace;
}


.sub-title4 {
    font-family: 'Cutive Mono', monospace;
    display: flex;
    justify-content: center;
    font-size: 40px;
}


.container { align-items: center;
margin: 80px;
}

.col-sm-6 {
    font-family: 'Cutive Mono', monospace;
    font-size: 25px;
    margin: 8px;
    color: #54b77d;
}

.col-sm-5 {
    font-family: 'Cutive Mono', monospace;
    font-size: 25px;
    color:  #54b77d;
}

.col-sm {
    font-family: 'Cutive Mono', monospace;
    font-size: 25px;
    color:  #54b77d;
}

.text5 {
    font-size: 15px;
    color: #000000;
    font-family: 'Cutive Mono', monospace;
    text-align:start;
}

.row {
    padding: 10px;
    margin-top: 25px;
}

.text6 {
font-family: 'Times New Roman', Times, serif;
font-size: 25px;
padding: 10px;
margin: 25px;
}

.subtitle3 {
    font-family: 'Cutive Mono', monospace;
    display: flex;
    justify-content:space-between;
    font-size: 40px;
    padding: 20px;
}

.subtitle4 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    color:  #54b77d;
}

.container-grid-video {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    padding: 50px;
    margin: 40px;   
}

.text7 {
    color: #54b77d;
    font-size: 15px ;
}


.col-8 {
    width: fit-content;
    margin-left: 100px;
}

.col-6 { 
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    color:  #54b77d  
}